@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #414141;
  --foreground: #414141;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #414141;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
